<!-- body -->
<div class="container">

        <div class="container-div-left">

                <div class="container-form">

                        <header>Registrate</header>

                        <form [formGroup]="registerForm">

                                <div class="form register">

                                        <div class="fields">

                                                <div class="input-field">
                                                        <label for="name">Nombre: </label>
                                                        <input type="text" id="name" formControlName="name"
                                                                placeholder="Nombre">

                                                        @if(registerForm.get('name')?.invalid &&
                                                        registerForm.get('name')?.touched ||
                                                        registerForm.get('name')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('name')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su nombre</small>
                                                                }
                                                        </div>
                                                        }
                                                </div>

                                                <div class="input-field">
                                                        <label for="lastName">Apellido: </label>
                                                        <input type="text" id="lastName" formControlName="lastName"
                                                                placeholder="Apellido">

                                                        @if(registerForm.get('lastName')?.invalid &&
                                                        registerForm.get('lastName')?.touched ||
                                                        registerForm.get('lastName')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('lastName')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su apellido</small>
                                                                }
                                                        </div>
                                                        }
                                                </div>

                                                <div class="input-field">
                                                        <label for="phoneNumber">Celular: </label>
                                                        <input type="text" id="phoneNumber"
                                                                formControlName="phoneNumber"
                                                                placeholder="Numero de celular">

                                                        @if(registerForm.get('phoneNumber')?.invalid &&
                                                        registerForm.get('phoneNumber')?.touched
                                                        ||
                                                        registerForm.get('phoneNumber')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('phoneNumber')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su número de
                                                                        teléfono</small>
                                                                }
                                                        </div>
                                                        }

                                                </div>

                                                <div class="input-field">
                                                        <label for="birthDate">Fecha/Nac.: </label>
                                                        <input type="date" id="birthDate" formControlName="birthDate">

                                                        @if(registerForm.get('birthDate')?.invalid &&
                                                        registerForm.get('birthDate')?.touched
                                                        ||
                                                        registerForm.get('birthDate')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('birthDate')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su fecha de
                                                                        Nac.</small>
                                                                }
                                                        </div>
                                                        }
                                                </div>

                                                <div class="input-field">
                                                        <label for="dni">DNI: </label>
                                                        <input type="number" id="dni" formControlName="dni"
                                                                placeholder="D.N.I">

                                                        @if(registerForm.get('dni')?.invalid &&
                                                        registerForm.get('dni')?.touched
                                                        ||
                                                        registerForm.get('dni')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('dni')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su DNI</small>
                                                                }
                                                        </div>
                                                        }
                                                </div>

                                                <!-- #TODO:
                                                 Hacer que me salga el error cuando hago click en el boton de crear -->
                                                <div class="input-field">
                                                        <label for="email">Email: </label>
                                                        <input type="email" id="email" formControlName="email"
                                                                placeholder="Email">

                                                        @if(registerForm.get('email')?.invalid &&
                                                        registerForm.get('email')?.touched ||
                                                        registerForm.get('email')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('email')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su Email</small>
                                                                }

                                                                @if(registerForm.get('email')?.errors?.['email'])
                                                                {
                                                                <small>Email invalido</small>
                                                                }
                                                        </div>
                                                        }
                                                </div>

                                                <div class="input-field">
                                                        <label for="password1">Contraseña: </label>
                                                        <input type="password" id="password1"
                                                                formControlName="password1" placeholder="Contraseña">

                                                        @if(registerForm.get('password1')?.invalid &&
                                                        registerForm.get('password1')?.touched ||
                                                        registerForm.get('password1')?.dirty) {
                                                        <div class="errorMesage">

                                                                @if(registerForm.get('password1')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese la contraseña</small>
                                                                }

                                                                @if(
                                                                registerForm.get('password1')?.errors?.['minLength(5)'])
                                                                {
                                                                <small>La contraseña debe tener al menos 5
                                                                        caracteres</small>
                                                                }

                                                                @if(
                                                                registerForm.get('password1')?.errors?.['maxLength(15)'])
                                                                {
                                                                <small>La contraseña es demasiado larga</small>
                                                                }

                                                        </div>
                                                        }
                                                </div>

                                                <!-- #TODO: 
                                                                         Ver como hacer el repit password-->
                                                <div class="input-field">
                                                        <label for="password2">Repita: </label>
                                                        <input type="password" id="password2"
                                                                formControlName="password2" placeholder="Contraseña">

                                                        @if(registerForm.get('password2')?.invalid &&
                                                        registerForm.get('password2')?.touched ||
                                                        registerForm.get('password2')?.dirty) {

                                                        <div class="errorMesage">

                                                                @if(registerForm.get('password1')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese la contraseña</small>
                                                                }
                                                        </div>
                                                        }
                                                </div>

                                                <div class="input-field">
                                                        <label for="emergencyContact">Contacto de emergencia:
                                                        </label>
                                                        <input type="text" id="emergencyContact"
                                                                formControlName="emergencyContact"
                                                                placeholder="Contacto de emergencia">

                                                        @if(registerForm.get('emergencyContact')?.invalid &&
                                                        registerForm.get('emergencyContact')?.touched ||
                                                        registerForm.get('emergencyContact')?.dirty) {
                                                        <div class="errorMesage">

                                                                @if(registerForm.get('emergencyContact')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese un contacto de
                                                                        emergencia</small>
                                                                }

                                                        </div>
                                                        }
                                                </div>

                                                <div class="input-field">
                                                        <label for="direction">Dirección: </label>
                                                        <input type="text" id="direction" formControlName="direction"
                                                                placeholder="Dirección">

                                                        @if(registerForm.get('direction')?.invalid &&
                                                        registerForm.get('direction')?.touched ||
                                                        registerForm.get('direction')?.dirty) {
                                                        <div class="errorMesage">

                                                                @if(registerForm.get('direction')?.errors?.['required'])
                                                                {
                                                                <small>Por favor ingrese su dirección</small>
                                                                }

                                                        </div>
                                                        }
                                                </div>

                                        </div>
                                        <div class="buttons">

                                                <button type="button" (click)="createUser()">Crear</button>

                                                <a routerLink="/loggin">¿Ya tenes cuenta?</a>
                                                
                                        </div>
                                </div>

                        </form>

                </div>
        </div>
        <!-- container -->

        <div class="container-div-rigth">
                <img src="../../../../assets/images/registro2.jpg" alt="">
        </div>

</div>