.container {
    display: flex;
    height: 100vh;
}

/* -------------------------------------------------------RIGHT */

.container-div-rigth {
    width: 56%;
    min-width: 320px;
    height: 100vh;
    min-height: 500px;
}

img {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    min-height: 500px;
}

/* -------------------------------------------------------LEFT */

.container-div-left {
    width: 44%;
    min-width: 320px;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow: hidden;
    /* Evita que los elementos hijos se desborden */
    box-sizing: border-box;
    /* Asegura que el padding no expanda el tamaño del contenedor */
}

.container-href {
    padding: 10% 8% 0 0;
    height: 10vh;
    text-align: end;
}

a {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
}



form {
    color: #fff;
    width: 100%;
    height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.container-general-element {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 70%;
    align-items: flex-end;
    padding-bottom: 10%;
    box-sizing: border-box;
    /*Asegura que el padding no expanda el tamaño del contenedor */
}

.container-input-label {
    height: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

label {
    font-size: 15px;
}

input {
    width: 90%;
    height: 40%;
    max-height: 35px;
    margin-top: 5px;
    border-radius: 4px;
}


.container-button {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 11%;
    box-sizing: border-box;
}

button {
    height: 70%;
    width: 30%;
    max-width: 30%;
    background: #31ef76;
    color: #fff;
    border-radius: 4px;
    margin-right: 8%;
}

h2 {
    width: 100%;
    font-size: 35px;
    height: auto;
    text-align: right;
}