<div class="container">

    <div class="container-div-left">

        <div class="container-href">
            <a href="../register/register.component.ts">Registrate</a>
        </div>

        <form [formGroup]="logginForm" (ngSubmit)="logginUser()">
            <!-- <div class="container-form-group"> -->

            <!-- <div class="container-title-form">
                <h2>Inicio de sesion</h2>
            </div> -->
            <!-- <div class="container-inputs-form"> -->
            <div class="container-input-label">

                <div class="container-email-password">
                    <label for="email">Email: </label>
                    <input type="email" id="email" formControlName="email" />

                    @if(logginForm.get('email')?.invalid && (logginForm.get('email')?.touched ||
                    (logginForm.get('email')?.dirty)) ) {

                    <div class="errorMesage">

                        @if(logginForm.get('email')?.errors?.['required']) {
                        <small>El email es requerido</small>
                        }

                        @if(logginForm.get('email')?.errors?.['email']) {
                        <small>El email es incorrecto</small>
                        }

                    </div>

                    }
                </div>


                <!-- </div> -->

                <div class="container-email-password">
                    <label for="password1">Contraseña: </label>
                    <input type="password" id="password1" formControlName="password" />

                    @if(logginForm.get('password')?.invalid && logginForm.get('password')?.touched ||
                    logginForm.get('password')?.dirty) {
                    <div class="errorMesage">

                        @if(logginForm.get('password')?.errors?.['required']) {
                        <small>Por favor ingrese la contraseña</small>
                        }

                        @if( logginForm.get('password')?.errors?.['minLength(5)']) {
                        <small>La contraseña debe tener al menos 5 caracteres</small>
                        }

                        @if( logginForm.get('password')?.errors?.['maxLength(15)']) {
                        <small>La contraseña es demasiado larga</small>
                        }

                    </div>
                    }
                </div>
            </div>
            <!-- </div> -->


            <div class="container-button">
                <button type="submit">Iniciar sesion</button>
            </div>
            <!-- </div> -->
        </form>

    </div>

    <div class="container-div-rigth">
        <img src="../../../../assets/images/inicioSesion.jpg" alt="">
    </div>

</div>