<div class="container">
    <form [formGroup]="logginForm" (ngSubmit)="logginUser()">
        <div class="container-form-group">

            <h2>Inicio de sesion</h2>

            <div class="container-input-label">
                <label for="email">Email: </label>
                <input type="email" id="email" formControlName="email">
            </div>

            <div class="container-input-label">
                <label for="password1">Contraseña: </label>
                <input type="password" id="password1" formControlName="password">
            </div>

            <div class="container-button">
                <button type="submit">Iniciar sesion</button>
            </div>
        </div>

    </form>
</div>